{
  "semi": false,
  "printWidth": 160,
  "tabWidth": 2,
  "singleQuote": true,
  "arrowParens": "always",
  "trailingComma": "all",
  "plugins": ["prettier-plugin-handlebars"],
  "overrides": [{ "files": ["*.hbs", "*.handlebars"], "options": { "singleQuote": false } }]
}
