<section class="tab sheet-body flexcol {{tabs.config.cssClass}}" data-tab="{{tabs.config.id}}" data-group="{{tabs.config.group}}">

  {{formField @root.fields.value value=source.system.value localize=true rootId=partId}}

</section>
