
/* ----------------------------------------- */
/*  Font Faces                               */
/* ----------------------------------------- */


@font-face {
  font-family: "Star Jedi";
  src: url("../fonts/Star_Jedi/STJEDISE.TTF");
}

@font-face {
  font-family: "Orbitron";
  src: url("../fonts/Orbitron/Orbitron-VariableFont_wght.ttf");
}

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300 800;
  src: url("../fonts/Exo_2/Exo2-Italic-VariableFont_wght.ttf") format('truetype');
}

@font-face {
  font-family: 'Rajdhani';
  src: url("../fonts/Rajdhani/Rajdhani-Regular.ttf") format('truetype');
}

/* ----------------------------------------- */
/*  CSS Variables                            */
/* ----------------------------------------- */

.swerpg {
  --background: #0A1F44; /* Bleu nuit profond */
  --background-element: #5A5F67; /* Bleu nuit profond */
  --color-text: #DDE7F2; /* Blanc bleuté pour le texte */
  --color-primary: var(--color-text);
  --color-secondary: #7C8A9E; /* Gris bleuté pour les textes secondaires */
  --color-tertiary: #5A5F67; /* Gris acier pour les détails */
  --color-header: #26C6DA; /* Cyan lumineux pour les titres */
  --color-h1: #1B65C6; /* Bleu électrique pour les titres H1 */
  --color-frame: #3A3F48; /* Gris sombre pour les encadrés */
  --color-frame-bg: #121923; /* Noir bleu profond pour les fonds */
  --color-frame-bg-25: rgb(18 25 35 / 25%);
  --color-frame-bg-50: rgb(18 25 35 / 50%);
  --color-frame-bg-75: rgb(18 25 35 / 75%);
  --color-accent: #0096FF; /* Bleu néon pour les éléments interactifs */
  --color-tern: #063a5e; /* Bleu néon pour les éléments interactifs */
  --color-link-text: #26C6DA; /* Cyan éclatant pour les liens */
  --color-border-highlight: var(--color-accent); /* Bordures lumineuses */
  --color-border: var(--color-tern); /* Bordures lumineuses */

  --color-damage-vulnerability: #640A0A; /* Rouge sombre pour les faiblesses */
  --color-damage-vulnerability-border: #D92E2E; /* Rouge vif pour accentuer */
  --color-damage-resistance: #0F4C75; /* Bleu profond pour la résistance */
  --color-damage-resistance-border: #2FA8FF; /* Bleu clair lumineux */

  --color-result-bad: #640A0A; /* Rouge sombre pour les mauvais résultats */
  --color-result-good: #0F4C75; /* Bleu profond pour les bons résultats */
  --color-result-warn: #A98D0B; /* Doré vieilli pour les avertissements */

  --color-active: #1ab82a; /* Vert pour les éléments actifs */
  --color-border-active: #0e5915; /* Vert sombre pour les borders des éléments actifs */

  --color-inactive: #da1717; /* Rouge pour les éléments inactifs */
  --color-border-inactive: #831010; /* Rouge sombre pour les borders des éléments inactifs */

  --font-h1: "Star Jedi", sans-serif;
  --font-h2: "Star Jedi", sans-serif;
  --font-h3: "Star Jedi", sans-serif;
  --font-body: "Orbitron", sans-serif;
  --font-quote: "Exo 2", sans-serif;
  --font-sans: "Rajdhani", sans-serif;

  // Form Styles
  input, select {
    --input-background-color: var(--color-frame-bg);
    --input-border-color: var(--color-frame);
    --input-text-color: var(--color-text);
    --color-select-option-bg:  var(--color-frame);
    &:focus {
      --input-text-color: var(--color-text);
    }
    &:disabled {
      --input-text-color: var(--color-secondary);
    }
  }
  --color-fieldset-border: var(--color-frame);
}

/* ----------------------------------------- */
/*  Light Theme (NOT USED YET)               */
/* ----------------------------------------- */


.theme-light .swerpg.UNUSED {
  --background: #cac5ba;
  --color-background: #cac5ba;
  --color-text: #000000;
  --color-secondary: #0b0909;
  --color-tertiary: #1c1a1a;
  --color-frame-bg: var(--color-cool-5-25);
  --color-frame: #938c9a;
  --color-h1: #000000;
  &.application {
    --color-header-background: transparent;
    --background-texture: url("../ui/journal/background-light.webp");
    --background-overlay: url("../ui/journal/overlay-light.webp");
  }
}
